:root {
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;

  --tint-color: #a9a7be;
  --tint-color-2: #9b93b7;
  --tint-color-3: #857aab;
  --tint-overlay: #002031;
  --tint-highlight: #d2952d;
  --tint-alt: #388A67;
  --tint-alt-2: #21b977;
  --tint-light: #F0F0F3;

  --carousel-interval: 5000ms;

  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;
  --border-radius: 4px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}