<div class="chart-container chart-container--usmap">
  <span
    id="<%- data.id %>"
    class="chart chart--us-heatmap"
    data-chart-type="us-heatmap"
    data-chart-config='<%- JSON.stringify({
      title: data.title,
      points: data.points
    }) %>'>
  </span>
</div>
