<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <script src="/js/nav.js" defer></script>

  <% for(const _css of (cssFiles || [])) { %>
    <link rel="stylesheet" href="/css/<%= _css %>">
  <% } %>
  <% for(const _js of (scripts || [])) { %>
    <script src="/js/<%= _js %>" defer></script>
  <% } %>

</head>