<header>
  <nav>
    <div class="container">
      <a href="/" class="logo">Raven's Wares</a>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">Chat</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/cart">Cart</a></li>
        <% if (user) { %>
          <li><a href="/profile">Profile</a></li>
          <li>
          <li><a href="/users/account">Account</a></li>
          <form action="/users/logout" method="POST" style="display: inline;">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn-link">Logout</button>
          </form>
          </li>
          <% } else { %>
            <li><a href="/users/login">Account</a></li>
            <% } %>
      </ul>
    </div>
  </nav>
</header>