<span class="helper-popup" tabindex="0" role="button" aria-haspopup="true">
  <span class="helper-popup__icon" aria-hidden="true"><%- include('../icon', { name: 'info' }) %></span>
  <span class="helper-popup__text" role="tooltip"><%= typeof text !== 'undefined' ? text : '' %></span>
</span>
