<li>
  <a href="<%- path %>" class="nav-link"<% if(isPath(path)) { %>aria-current="page"<% } %>>
    <%- include('../svg/' + icon) %>
    <span class="nav-link-text"><%- link_title %></span>
  </a>
</li>