<li class="<%- onMobile ? "" : "hide-on-mobile" %>">
  <a href="<%- path %>" class="nav-link"<% if(isPath(path)) { %>aria-current="page"<% } %>>
    <%- include('../svg/' + icon) %>
    <span class="_hide-on-mobile"><%- link_title %></span>
  </a>
</li>